main {
    margin-top: 150px;
    z-index: 1;
    position: absolute;
}

.showreel {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 245, 245);
}

.portfolio {
    margin-top: 20px;
    margin-bottom: 40px;
}

h2 {
    color: var(--dark-purple);
    font-family: AmaticSC;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 25pt;
}

.imgs {
    margin-left: 100px;
}

.imgs img {
    width: 400px;

    object-fit: cover; 
    transition: transform 0.2s ease-in-out; 
}

.imgs img:hover {
    transform: scale(1.1);
}

.images {
    margin-bottom: 30px;
}

.about {
    background-color: var(--dark-purple);
    width: 212vh;
}

.sobre {
    color: var(--grey);
}

.partes {
    display: flex;
}

.primeiraParte {
    width: 250px;
    margin-left: 150px;
    margin-top: 20px;
}

.primeiraParte p {
    color: var(--grey);
    font-size: 14pt;
    font-family: calibrii;
    text-align: justify;
}

.redesSociais img{
    width: 40px;
    margin-top: 150px;
    margin-right: 10px;
}

.pessoas {
    display: flex;
    margin-bottom: 20px;
}

.segundaParte {
    margin-left: 400px;
    width: 300px;
}

.segundaParte img {
    width: 110px;
}

.info {
    margin-left: 30px;
}

.info {
    font-family: calibrii;
}

.info h3{
    color: var(--violet);
    font-family: AmaticSC;
    font-size: 20pt;
}

.info h5, a {
    color: var(--grey);
}

.contact {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg-contact.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%; 
}

.footer {
    display: flex;
}

.endereco {
    width: 200px;
    margin-top: 60px;
    margin-left: 170px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    padding: 0.5rem;
    width: 300px;
    border: 2px solid black;
    margin-bottom: 20px;
}

input::placeholder, textarea::placeholder{
    font-family: AmaticSC;
    font-size: 18pt;
    text-indent: 10px;
    font-weight: 500;
}

textarea {
    border: 2px solid black;
}
